<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block windowtitle %}{{ SITENAME }} - {{SITESUBTITLE }} {% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@debian">
    <meta name="twitter:image" content="https://www.debian.org/logos/openlogo-100.png">
    <meta name="twitter:title" content="Debian Project Leader Blog">
    <meta name="twitter:description" content="Debian is a free operating system (OS) for your computer. An operating system is the set of basic programs and utilities that make your computer run.">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Debian Project">
    <meta property="og:image" content="https://www.debian.org/logos/openlogo-100.png">
    <meta property="og:locale" content="en">
    <meta property="og:url" content="https://bits.debian.org/">
    <meta property="og:title" content="Debian Project Leader Blog">
    <meta property="og:description" content="Debian is a free operating system (OS) for your computer. An operating system is the set of basic programs and utilities that make your computer run.">

    <link rel="apple-touch-icon" href="/theme/images/openlogo-nd-75.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="/theme/images/openlogo-nd-75.png" type="image/png">

    <!-- Styles -->
    <link href="{{ SITEURL }}/theme/style.css" rel="stylesheet">

    <!-- Feed autodiscovery -->
    {% if FEED_ATOM %}
    <link href="{{ SITEURL }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
</head>

<body>

<div id="wrapper">
    <div id="header">
        <a href="{{ SITEURL }}"><img align="left" class="logo" src="{{ SITEURL }}/theme/images/openlogo-nd-75.png" alt="{{ SITENAME }}" align="left" style="margin-top: 20px;"></a>
        <p>Debian Project Leader blog</p>
    </div>

    <hr class="nocss" />
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="rightcolumn">


            <hr class="nocss" />
            <div class="lateral">
                <h1> Site links </h1>
                <ul class="nav-list">


                {% for title, link in MENUITEMS %}
                <a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}

                <!--
                {% if DISPLAY_PAGES_ON_MENU %}
                {% for pg in pages %}
                <li><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
                {% endfor %}
                {% endif %}
                -->

                <li><a href="{{ SITEURL }}/archives.html">Archives</a>
                <li><a href="{{ SITEURL }}/{{ FEED_ATOM }}" rel="alternate">Atom feed</a></li>
                {% if FEED_RSS %}
                <li><a href="{{ SITEURL }}/{{ FEED_RSS }}" rel="alternate">RSS feed</a></li>
                {% endif %}
                </ul>
            </div>

            {% if SOCIAL %}
            <hr class="nocss" />
            <div class="lateral">
            <h1>More Debian Updates</h1>
                <ul class="nav-list">
                {% for name, link in SOCIAL %}
                <li><a href="{{ link }}">{{ name }}</a></li>
                {% endfor %}
                <li><a href="https://bits.debian.org">Bits from Debian</a></li>
                </ul>
            </div>
            {% endif %}



    <div class="lateral">
    <h1>About Debian</h1>
    <p>Debian is a Linux distribution composed of free and open source software, developed by the community-supported Debian Project.</p>
    <p>Read more about Debian <a href="https://en.wikipedia.org/wiki/Debian">on Wikipedia.</a></p>
    </div>

    <div class="lateral">
    <h1>About the project leader</h1>
    <p>The current Debian project leader is <a href="mailto:jcc@debian.org">Jonathan Carter</a>.</p>

    <p>The Debian Project Leader is responsible for delegating responsibility to teams, approving financial expenditures and making decisions for any area that is not delegated.</p>

    <p>More about the DPL role on the <a href="https://www.debian.org/devel/leader">Debian website</a> and the <a href="https://wiki.debian.org/Teams/DPL">Debian wiki</a>.</p>
    </div>

    </div>

            {% if tags %}
            <hr class="nocss" />
            <div class="lateral">
            <h1>Tags</h1>
                <ul class="nav-list">
                {% for ta, articles in tags|sort %}
                  <li><a href="{{ SITEURL }}/{{ ta.url }}">{{ ta }}</a> ({{ articles|count }})</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}


    <hr class="nocss" />
    <div id="footer">
        <p><a href="{{ SITEURL }}">{{ SITENAME }}</a> is the official blog of the Debian Project Leader.</a></p>
    </div>

</div>
</body>
</html>
